node_modules
assets/compiled/*
!assets/compiled/.gitkeep
assets/dependencies
assets/js/site.js
assets/css/site.css
assets/js/responsive.breadcrumbs.js
assets/css/responsive.breadcrumbs.css


## ----------------
## OS System Files
## ----------------
._*
.VolumeIcon.icns
.fseventsd
ehthumbs.db
Icon?
Thumbs.db
.DS_Store
.com.apple.timemachine.supported