node_modules
assets/compiled/*
!assets/compiled/.gitkeep
assets/old-dependencies
assets/dependencies/*
!assets/dependencies/.gitkeep
assets/js/site.js
assets/css/site.css
assets/js/ezBreadcrumbs.js
assets/css/ezBreadcrumbs.css
tests/js/ezBreadcrumbs-test.js


## ----------------
## OS System Files
## ----------------
._*
.VolumeIcon.icns
.fseventsd
ehthumbs.db
Icon?
Thumbs.db
.DS_Store
.com.apple.timemachine.supported